@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    @* catches incorrect credentials through external login service and redirects to message *@
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
