@model IEnumerable<Team4.Models.Category>
@{
    ViewBag.Title = "Store";
}
<h3>Browse Menu Categories</h3>
<p>
    Select from @Model.Count()
    categories:
</p>
<ul>
    @*for each category in model show name*@
    @foreach (var category in Model)
    {
        <li>
            @Html.ActionLink(category.Name,
"Browse", new { category = category.Name })
    </li>
    }
</ul>