@{
    ViewBag.Title = "Bama Drive In";
}


@* Home page design information *@
<div class="jumbotron">
    <center>
        <h1>Welcome to Bama Drive-In</h1>
        <h3>You don't drive in to us, we drive in to you!</h3>
        You've had pizza delivered, you've had chinese food delivered, you've had coldcut sandwiches delivered, now it's time to have American favorites delivered hot to your door!
        <br />
        <br />
        <p class="lead">920 Paul W. Bryant Drive</p>
        <table>
            <tr>
                <th><img src="https://res.cloudinary.com/roadtrippers/image/upload/c_fill,h_316,w_520/v1369247666/jimmys-classic-drive-in-519bf0f654b9721c7200005b.jpg" alt="Bama Burger" style="width:520;height:316;"></th>
                <th></th>
                <th><a class="twitter-timeline" width="520" height="316" href="https://twitter.com/BamaDriveThru">Tweets by BamaDriveThru</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></th>

            </tr>

        </table>
        
        
        
        

        <p></p>
        
    </center>


